/* Colors */
:root {
  /* logo background color */
  --logo-bg: rgb(120, 244, 181);
  /* logo dark main color (text and fork thingy) */
  --dark-logo-bg: rgb(12, 128, 121);
  --main-blue: rgb(91, 155, 201);
  --accent-purple: rgb(93, 69, 134);
  --white: rgb(255, 255, 255);
}

/* font-weights: 300, 400, 500, 600, 700 */
* {
  font-family: 'Bitter', sans-serif, monospace;
  font-size: 16px;
}



/* Bootstrap */
/* Nav Bar */

/* Hero Section */
@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}